<h3>Wallet info</h3>

<%= form_for @wallet, url: @wallet.new_record? ? admin_wallets_url : admin_wallet_url(@wallet.id) do |f| %>

  <div class="card-deck">

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Id</label>
          <div class="mb-3"><%= @wallet.id %></div>

          <label>Currency Id</label>
          <%= f.select :currency_id, Currency.codes.map { |code| [code.upcase, code] }, {selected: @wallet.currency_id}, {class: "form-control mb-3"} %>

          <label>Name</label>
          <%= f.text_field :name, class: 'form-control mb-3' %>

          <label>Address</label>
          <%= f.text_field :address, class: 'form-control mb-3' %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-group">

          <label>Kind</label>
          <%= f.text_field :kind, class: 'form-control mb-3' %>

          <label>Nsig</label>
          <%= f.text_field :nsig, class: 'form-control mb-3' %>

          <label>Status</label>
          <%= f.select :status, options_for_select([['Active', 'active'], ['Disabled', 'disabled']], selected: @wallet.status), {}, {class: "form-control mb-3"} %>
        </div>
      </div>
    </div>

  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg mt-3' %>

<% end %>
